.tab {
  overflow: hidden;
  margin-top: 1.5em;
  border: 0.0625em solid #ccc;
  background-color: #f1f1f1;
  border-radius: 0.375em 0.375em 0.375em 0.375em;
  -moz-border-radius: 0.375em 0.375em 0.375em 0.375em;
  -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
}


.lemureAcquista{
  float: right;
  width: 33%;
  height: auto;
  margin-right: 2%;
}


.centrato{
  text-align: center;
  display: block;
  padding: 0.8%;
  font-size: 1em;
}

#formAcquistoBiglietti{
  margin: 0.625em 0.625em 0.625em 0.625em;
}

#formEventi{
  margin: 0.5em 0.5em 0.5em 0.5em;
}

#biglietti {
  display: none;
}

.quantita {
  display: inline-block;
  margin: 0.8em 0.5em 0.8em 0.5em;
}

#containerSelect{
  margin: 0.5em 0.5em 0.5em 0.5em;
}

#cercaData{
  margin: 0.5em 0.5em 0.5em 0.5em;
}

label {
  display: block;
}

button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.875em 1em;
  transition: 0.3s;
  border-radius: 0.375em 0.375em 0.375em 0.375em;
  -moz-border-radius: 0.375em 0.375em 0.375em 0.375em;
  -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
}

button:hover {
  background-color: #ddd;
}

button.active {
  background-color: #ccc;
}

.contenutoTab {
  display: block;
  padding: 0.375em 0.75em;
  border: 0.0625em solid #ccc;
  border-top: none;
  -webkit-animation: fadeEffect 1.5s;
  animation: fadeEffect 1.5s;
  border-radius: 0.375em 0.375em 0.375em 0.375em;
  -moz-border-radius: 0.375em 0.375em 0.375em 0.375em;
  -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
}

input[type=button], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  display: block;
  width: 35%;
  padding: 1em 1.25em;
  box-sizing: border-box;
  border: 0.125em solid #ccc;
  border-radius: 0.25em;
  margin: 0.25em 0.125em;
  background-color: #f1f1f1;
}

input[type=date], input[type=text], input[type=number] {
  padding: 1em 1.25em;
  box-sizing: border-box;
  border: 0.125em solid #ccc;
  border-radius: 0.25em;
  margin: 0.25em 0.125em;
  background-color: #f1f1f1;
}

input[type=date]:focus, input[type=number]:focus, input[type=text]:focus, select:focus {
  border: 3px solid #555;
}

input.acquistaSubmit {
  display: inline-block;
  background-color: #4CAF50;
  border: none;
  font-size: 1em;
  color: white;
  padding: 0.5em 0.75em;
  text-decoration: none;
  margin: 0.25em 0.25em 0.25em 0.25em;
  cursor: pointer;
}

fieldset {
  border: none;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (max-width: 1000px) {
  select{
    width:100%;
  }
}
