.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

button:hover {
  background-color: #ddd;
}

button.active {
  background-color: #ccc;
}

.contenutoTab {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-animation: fadeEffect 1.5s;
  animation: fadeEffect 1.5s;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 16px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 4px 2px;
  background-color: #f1f1f1;
}

input[type=date], input[type=number] {
  padding: 16px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 4px 2px;
  background-color: #f1f1f1;
}

input[type=date]:focus, input[type=number]:focus, select:focus {
  border: 3px solid #555;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
