.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
}

#formAcquistoBiglietti{
  margin: 10px 10px 10px 10px;
}

#formEventi{
  margin: 8px  8px 8px 8px;
}

#biglietti {
  display: none;
}

#quantita {
  display: inline-block;
  margin: 8px 8px 8px 8px;
}
#selectEventi{
  margin: 8px 8px 8px 8px;
}

#cercaData{
  margin: 8px 8px 8px 8px;
}

label {
  display: block;
}

button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
}

button:hover {
  background-color: #ddd;
}

button.active {
  background-color: #ccc;
}

.contenutoTab {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-animation: fadeEffect 1.5s;
  animation: fadeEffect 1.5s;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
}

input[type=button], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  display: block;
  width: 35%;
  padding: 16px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 4px 2px;
  background-color: #f1f1f1;
}

input[type=date], input[type=number] {
  padding: 16px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 4px 2px;
  background-color: #f1f1f1;
}

input[type=date]:focus, input[type=number]:focus, select:focus {
  border: 3px solid #555;
}

input.acquistaSubmit {
  display: inline-block;
  background-color: #4CAF50;
  border: none;
  font-size: 16px;
  color: white;
  padding: 1% 2%;
  text-decoration: none;
  margin: 4px 4px 4px 4px;
  cursor: pointer;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (max-width: 1000px) {
  select{
    width:100%;
  }
}
