.messaggioRicerca{
    color: #616161;
    margin-left: 5%;
    font-size: 1em;
}

#ricercaAnimali p, #introCuccioli p{
    width: 90%;
    text-align: center;
    font-size: 1.2em;
}

#introCuccioli p{
    margin: 1%;
}

#risultatiAnimali, #risultatiCuccioli{
    width: 100%;
    margin-left: 5%;
}

.containerAnimal{
    width: 40%;
    padding: 1%;
    margin: 1%;
    float: left;
    border: 1px solid#616161;
    height: 30em;
    -webkit-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
    -moz-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
    box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
}

.photoAnimal{
    width: 10em;
    float: left;
    height: 10em;
    margin: 4%;
    text-align: center;
}

.photoAnimal img{
    max-height: 10em;
    max-width: 10em;
    border: 1px solid #000000;
    padding: 5%;
}

.namePuppy{
    font-style: italic;
    text-align: center;
    font-size: 1.3em;
    background-color: lightgray;
}

.nameAnimal{
    margin-right: 1em;
    padding-top: 4%;
    font-weight: bold;
    font-size: 1.3em;
    text-align: right;
}

.scientificNameAnimal{
    margin-right: 1em;
    font-style: italic;
    font-size: 1em;
    text-align: right;
}

.descAnimal{
    padding: 0.3em 0.3em 0 0.3em;
    text-align: justify;
    font-size: 0.8em;
    clear:both;
}

#formRicerca{
    width: 90%;
    padding: 2%;
}

input[type=text], select {
    width: 28%;
    padding: 1% 1.5%;
    margin: 0.5% 0;
    display: inline-block;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #inviaRicerca {
    width: 13%;
    background-color: #4CAF50;
    color: white;
    padding: 1% 1.5%;
    margin: 0.5% 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #inviaRicerca:hover {
    background-color: #45a049;
  }

  @media (max-width:1000px){
    #ricercaAnimali p, #introCuccioli p{
        text-align: justify;

    }

    #risultatiAnimali, #risultatiCuccioli{
        width: 100%;
        margin-left: 0; 
    }

    .containerAnimal{
        width: 100%;
        padding: 1%;
        margin: 0.5%;
        float: left;
        height: auto;
    }
    
    .nameAnimal{
        font-weight: bold;
    }
    
    .scientificNameAnimal{
        font-style: italic;
    }
    
    .descAnimal{
        font-size: 1em;
        margin: 2%;
        padding: 0;
    }

    input[type=text], select {
        width: 100%;
    }

    #inviaRicerca {
        width: 100%;
    }
}