/*  LOGIN  */

#loginForm{
    padding:2.5em;
    margin: 0;
}

#loginForm input{
    display: block;
}

#loginBox{
    margin: 3% auto;
    background-color: #fafafa;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, .4);   
}

.campoLogin {
    margin: 3%;
}

.campoLogin input {
    font-size: 1em;
}

.outerBox select,.outerBox input, textarea#descrizioneAnimale {
    padding:0.3em 1% 0.3em 1%;
    border: 1px solid grey;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 2px;  
}

textarea#descrizioneAnimale {
    width:60%;
    vertical-align: top;
    margin-top: 1em;
    max-width: 60%;
    height: 10em;
}

.outerBox label,select,input{
    display: inline-block;
}

.outerBox label{
    width:30%;
    padding:1em 0.4em 0 0;
    text-align:right;
}

#outerbox, section{
    max-width: none;
    padding: 1em;
    margin: 0em;
}

.outerBox  input[type="text"],
.outerBox  input[list="titleInput"],
.outerBox  input[type="date"],
.outerBox  input[type="email"],
.outerBox  input[type="password"],
.outerBox  input[type="number"],
.outerBox  input[type="file"],
.outerBox  textarea,
.outerBox  select
{
    display: inline-block;
    box-sizing: content-box;
    width:60%;
    background-color:white;
}

section {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    min-width: 30%;  
}

fieldset{
	padding: 0.3em 0.5em 0.5em 0.5em;
}

input#submitAnimale{
    display: block;
}

#registrati {
    text-align: center;
    padding-bottom: 30px;
}

#loginBox, #registrationBox {
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    max-width:40em;
    background-color: #fafafa;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, .4);   
}

#registrationForm{
    padding: 1em 10%;
    margin: 0;
}

#nav{
	width:20%;
	display:block;
	float:left;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 0;
}

#nav ul{
    list-style-type:none;
    margin-top: 2em;
}

#nav li {
    padding: 1em 0;
}

#nav li:last-child {
    margin-bottom: 0;
}

#nav h3 {
    margin-top: 2em;
    text-align: center;
}

#content{
    margin-top: 0;
	float:left;
    width:78%;
    text-align: center;
}

#footer{
	clear:both;
}

.azioniRapide {
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    padding: 0.7em 1em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
}

.azioniRapide:hover {
    background-color: #58c25d;
}

#container {
    margin-top: 100px;
}

#eventi {
    display: block;
}

.containerAcquisti {
    float:left;
    width:78%;
    text-align: center;
    display: flex;
}

.contentAcquisti {
    max-height: 550px;
    overflow: scroll;
    width: 49%;
}

.acquisti {
    margin: 20px;
    padding: 1em;
    border: 1px solid black;
    background: white;
    border-radius: 10px;
    text-align: justify;
    display: flex;
}

.messaggi {
    margin: 20px;
    padding: 1em;
    border: 1px solid black;
    background: white;
    border-radius: 10px;
    text-align: justify;
    display: flex;
}

.testoMessaggio {
    max-width: 40%;
}

.tabBar {
    background-color: black;
    overflow: hidden;
    display: none;
}

.barButton {
    float: left;
    color:white;
}

.barButton:hover {
    background-color:#959494;
}

@media screen and (max-width: 1000px) {
    #content{
        margin-top: 0;
        text-align: center;
        width: 100%;
        float: none;
    }

    .titolo {
        padding: 0;
        margin: 20px 0;
    }

    .azioniRapide {
        display: block;
        margin: 20px 0;
    }

    .acquisti {
        margin: 10px 0;
        font-size: 10px;
    }

    .acquisti img {
        display: none;
    }

    .messaggi {
        display: block;
        margin: 10px 0;
        font-size: 10px;
    }

    .messaggi div {
        margin: 10px 0;
    }

    .testoMessaggio {
        max-width: 100%;
    }

    .containerAcquisti {
        float: none;
        width: 100%;
        display: block;
    }

    .contentAcquisti {
        max-height: 100%;
        overflow: auto;
        width: 100%;
    }

    #eventi {
        display: none;
    }

    .tabBar {
        display: block;
    }
    
}