/*  LOGIN  */

#loginForm{
    padding:2.5em;
    margin: 0;
}

#loginForm input{
    display: block;
}

#loginBox{
    margin: 3% auto;
    background-color: #fafafa;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, .4);   
}

.campoLogin {
    margin: 3%;
}

.campoLogin input {
    font-size: 1em;
}

.outerBox select,.outerBox input, textarea#descrizioneAnimale {
    display: block;
    padding:0.3em 1% 0.3em 1%;
    border: 1px solid grey;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 2px;  
}

textarea#descrizioneAnimale {
    width:60%;
    vertical-align: top;
    margin-top: 1em;
    max-width: 60%;
    height: 10em;
}

.outerBox  label,select,input{

    display:inline-block;
}

.outerBox  label{
    width:30%;
    padding:1em 0.4em 0 0;
    text-align:right;
}

#outerbox, section{
    max-width: none;
    padding: 1em;
    margin: 0em;
}

.outerBox  input[type="text"],
.outerBox  input[list="titleInput"],
.outerBox  input[type="date"],
.outerBox  input[type="email"],
.outerBox  input[type="password"],
.outerBox  input[type="number"],
.outerBox  input[type="file"],
textarea #descrizioneAnimale,
.outerBox  select
{
    display: inline-block;
    box-sizing: content-box;
    width:60%;
    background-color:white;
}

section {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    min-width: 30%;  
}

fieldset{
	padding: 0.3em 0.5em 0.5em 0.5em;
}

#registrati {
    text-align: center;
    padding-bottom: 30px;
}

#loginBox, #registerBox {
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    max-width:40em;
    background-color: #fafafa;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, .4);   
}

#registerForm{
    padding: 1em 10%;
    margin: 0;
}
