* {
    margin: auto;
}

html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 95%;
    margin: auto;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

abbr {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.titolo {
    text-align: center;
    font-weight: bolder;
    display: block;
    padding: 20px;
    font-size: 2em;
}

.main {
    height: calc(100vh - 357px);
}

.messaggio {
    text-align: center;
    padding-top: 100px;
    font-size: 1.5em;
}

.errorMessage {
    text-align: center;
    background: #c13636;
    width: 100%;
    color: white;
    padding: 0.3em 0em 0.3em 0em;
}

/* BREADCRUMBS */

.map-position {
    background: #00b6ff;
    padding: 9px
}

/* STILE DELL'HEADER */

#header {
    font-size: 100%;
    max-width: 100%;
    margin: 1% 0;
    border: 1px solid black;
    -webkit-box-shadow:-1px 0 15px -1px black;
    -moz-box-shadow:-1px 0 15px -1px black;
    box-shadow:-1px 0 15px -1px black;
    overflow: auto;
    background-color: #f1f1f1;
}

.logoHeader {
    float: left;
    width: 10%;
    height: auto;
}

#header h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 300%;
    font-style: italic;
    text-align: center;
    padding: 4%;
    color: black;
}

/* STILE DEL FOOTER */

#footer {
    text-align: center;
    max-width: 100%;
    margin: 0.5% 0;
    border: 1px solid black;
    -webkit-box-shadow:-1px 0 15px -1px black;
    -moz-box-shadow:-1px 0 15px -1px black;
    box-shadow:-1px 0 15px -1px black;
    overflow: auto;
    background-color: #f1f1f1;
}

.logoFooter {
    float: left;
    width: 3%;
    height: auto;
    padding-left: 12%;
    padding-right: 1%;
}

.parFooter {
    font-size: 100%;
    padding: 1%;
}

/* STILE DEI PULSANTI SUBMIT */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;;
}

input[type=submit]:hover {
        background-color: #45a049;
}