.containerEventi{
    width: 40%;
    padding: 1%;
    margin: 1%;
    float: left;
    border: 1px solid#616161;
    height: 50%;
    -webkit-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
    -moz-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
    box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
}

#filtroEventi{
    width: 90%;
    text-align: center;
}


#inviaRicerca {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 1% 1.1%;
    margin: 0.5% 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

