.containerEventi{
    position: relative;
    width: 60%;
    padding: 1%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
    border: 1px solid#616161;
    height: 50%;
    box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
}

#filtroEventi{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}


#inviaRicerca {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 1% 1.1%;
    margin: 0.5% 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

#risultatiEventi{
    float: center;
    margin-left: 10%
}

.nomeEvento{
    font-size: 1.5vw;
    text-align: center;
    font-weight: bolder;  

}

.prezzoEvento{
    margin: 10%;
}

.dataEvento{
    float: left;
    margin: 10%;
}

.descrizioneEvento{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.buttonPrenota{
    position: absolute;
    bottom: 5%;
    left: 75%;
}


