#containerPagina{
    text-align: center;
}

#containerInfo{
    margin: 3%;
}

#indirizzo{
    margin: 5%;
}


ul{
    list-style: none;
}

#mappa{
 text-align: center;

}

#contatti{
    text-align: center;
    margin-bottom: 10%;
}


#messaggio{
    width: 60%;
    vertical-align: top;
    margin-top: 1em;
    max-width: 60%;
    height: 10em;
}

 #inviaMessaggio{
     display: block;
     text-align: left;
}

