#containerPagina{
    text-align: center;
}

#containerInfo{
    margin: 4%;
}

#indirizzo{
    margin: 5%;
}


ul{
    list-style: none;
}

#mappa{
 text-align: center;

}

#contatti{
    text-align: center;
    margin-bottom: 10%;
}


#messaggio{
    width: 60%;
    vertical-align: top;
    margin-top: 1em;
    max-width: 60%;
    height: 10em;
    padding: 0.3em 1% 0.3em 1%;
    border: 1px solid grey;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 2px;
}

 #inviaMessaggio{
     display: block;
     text-align: left;
}

