#menu {
    background-color: #4CAF50 !important;
    padding: 0%;
    overflow: hidden;
    margin-bottom: 4%;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

*.menuItem {
    float: left;
}

#menu a {
    color:white;
}

a.menuItem, .dropdown-content a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}

a:hover.menuItem, .dropdown:hover .dropbtn {
    background-color: #58c25d;
}

div.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #afafaf;
}

.dropdown-content a:hover {background-color: #dbdbdb;}

.dropdown:hover .dropdown-content {
    display: block;
}

#menu .icon {
    display: none;
}